* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: auto auto;
}

.ninety {
  width: 90%;
  margin: auto auto;
}

/* =======HEADER======= */

header {
  display: flex;
  height: 90px;
}

.nav,
.logo {
  flex: 1;
  align-items: center;
}

.logo-text {
  color: #423ca5;
}

.logo {
  display: flex;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

nav .nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

nav .nav-links li a {
  display: inline-block;
  text-decoration: none;
}

nav .openMenu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin: 20px;
}

nav .nav-links .closeMenu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: 1.5em;
}

.nav li::after {
  content: "";
  display: block;
  background-color: #f1df3f;
  width: 0%;
  height: 2px;
  transition: width 300ms;
}

.nav li:hover::after {
  width: 100%;
  transition: width 300ms;
}

.nav li a {
  text-decoration: none;
  color: #000000;
}

.nav .cta {
  text-decoration: none;
  background: #423ca5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 1em;
  font-weight: 600;
  border-radius: 8px;
  transition: transform 200ms;
}

.nav .cta:hover {
  background: #f1df3f;
  color: #423ca5;
  transform: scale(1.05);
  transition: transform 200ms;
}

/* =======HERO======= */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.5rem auto;
  width: 90%;
}

.hero-text,
.hero-img {
  display: flex;
}

.hero-text {
  flex-direction: column;
  margin: auto auto;
}

.hero-heading {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: #292566;
}

.hero-body,
.hero-heading {
  width: 80%;
}

.hero-body {
  font-size: 1.25rem;
  line-height: 36px;
  color: #000000;
}

.hero-img {
  justify-content: right;
}

/* =======SERVICES======= */

.services {
  width: 90%;
  margin: auto auto;
}

.services-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2em;
  color: #292566;
  text-align: center;

}

.service-subsection {
  margin-bottom: 10em;
  display: flex;
}

.subsection-text,
.subsection-img,
.subsection-img-alt,
.subsection-text-alt {
  display: flex;
  align-items: center;
  flex: 1;
}

.subsection-text {
  justify-content: left;
  flex-direction: column;
}

.subsection-img {
  justify-content: right;
}

.subsection-text-alt {
  flex-direction: column;
}

.subsection-img-alt {
  justify-content: left;
}

.subsection-heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0.6em;
}

.subsection-body {
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}

/* ===Swiper=== */
.swiper {
  width: 380px;
  height: 380px;
}

.swiper-slide {
  border-radius: 18px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

/* =======NEWSLETTER======= */

.newsletter {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423ca5;
}

.newsletter-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.newsletter-text,
.newsletter-input {
  display: flex;
  flex: 1;
}

.newsletter-input {
  justify-content: right;
  /* consider removing */
}

.newsletter-text {
  flex-direction: column;
  text-align: left;
  color: #ffffff;
}

.newsletter-heading {
  font-size: 28px;
}

.newsletter-body {
  font-weight: 800;
  font-size: 40px;
}

.newsletter-input input {
  width: 540px;
  height: 60px;
  font-size: 16px;
  font-family: monospace;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
  outline: none;
}

.newsletter-input input::placeholder {
  color: #ffffff;
  font-family: monospace;
}

.newsletter-input .buttonIn {
  position: relative;
}

.newsletter-input button {
  font-size: 20px;
  font-weight: 600;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 3rem;
  position: absolute;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #000000;


}

/* =======FOOTER======= */

.container {
  max-width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 35px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  background-color: #f1df3f;
  box-sizing: border-box;
  height: 2px;
  left: 0;
  bottom: -10px;
  width: 50px;
}

.footer-col>ul img {
  width: 200px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 1024px) {

  /* =======HERO======= */
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-body,
  .hero-heading {
    width: 100%;
  }

  .hero-img img {
    margin-top: 1rem;
    max-width: 320px;
  }

  /* =======SERVICES======= */
  .subsection-img img,
  .subsection-img-alt img {
    width: 100%;
    max-width: 250px;
  }

  .subsection-heading {
    font-size: 1.6rem;
  }

  .subsection-body {
    font-size: 1rem;
  }

  /* =======NEWSLETTER======= */
  .newsletter-input {
    justify-content: center;
  }

  .newsletter-input input {
    width: 400px;
  }

  .newsletter-heading {
    font-size: 24px;
  }

  .newsletter-body {
    font-weight: 800;
    font-size: 32px;
  }
}


@media (max-width: 768px) {

  /* =======HEADER======= */
  .logo-text {
    color: #423ca5;
    font-size: 0.9rem;
  }

  /* ======= HAMBUREGER ======= */
  nav .nav-links {
    height: 100vh;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    background: rgb(255, 255, 255);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease 0s;
    display: none;
  }


  .nav li {
    padding-right: 0;
  }

  nav .nav-links li a {
    padding: 15px;
    font-size: 24px;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  nav .nav-links .closeMenu {
    display: block;
    position: absolute;
    color: #423ca5;
    top: 20px;
    right: 20px;
    padding: 0.4rem 3rem;
  }

  nav .openMenu {
    display: block;
    color: #423ca5;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }

  .nav .cta {
    padding: 1.6rem;
    font-size: 20px;
  }


  /* =======HERO======= */
  .hero {
    flex-direction: column;
    margin: 0.6rem auto;
  }

  .hero-text {
    flex-direction: column;
  }

  .hero-body,
  .hero-heading {
    width: 100%;
  }

  .hero-heading {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #292566;
  }

  .hero-body {
    font-size: 1.25rem;
    line-height: 36px;
    margin-top: 1rem;
    color: #000000;
    text-align: left;
  }

  .hero-img img {
    width: 100%;
    margin-top: 2rem;
    max-width: 300px;
  }

  /* =======SERVICES======= */
  .services {
    margin: auto auto;
    width: 90%;
  }

  .services-heading {
    font-size: 2.5rem;
    margin: 3rem 0;
  }

  .service-subsection {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  .subsection-text {
    justify-content: left;
    flex-direction: column;
  }

  .subsection-img img,
  .subsection-img-alt img {
    width: 100%;
    max-width: 250px;
  }

  .subsection-heading {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.6em;
  }

  .subsection-body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 1.5rem;
  }

  .beta-subsection {
    flex-direction: column-reverse;
  }

  /* =======NEWSLETTER======= */
  .newsletter-content {
    flex-direction: column;
  }

  .newsletter-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .newsletter-input {
    justify-content: center;
  }

  /* ======= FOOTER ======= */
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}


@media (max-width: 574px) {

  /* ======= HAMBURGER ======= */
  nav .nav-links .closeMenu {
    padding: 0.4rem 1.5rem;
  }

  /* ======= HERO ======= */
  .hero-body,
  .hero-heading {
    width: 100%;
  }

  /* ======= NEWSLETTER ======= */
  .newsletter-input input {
    width: 240px;
    height: 40px;
  }

  .newsletter-input button {
    /* padding: 0 1rem;
    font-size: 1em; */
    display:none;
  }

  /* ======= FOOTER ======= */
  .footer-col {
    width: 100%;
  }
}